.home-container {
    flex-direction: column;

    h1 {
        color: $color-button;
        letter-spacing: 0.25rem;
    }

    a, button {
        width: 100%;
        margin-bottom: 0.25rem;
        text-align: center;
    }

    select {
        width: 100%;
    }

    .subcontainer-column {
        display: flex;
        align-items: center;
    }
}